<?xml version="1.0"?>
<config>
    <modules>
        <Voronoy_ExtraFee>
            <version>0.1.1</version>
        </Voronoy_ExtraFee>
    </modules>
    <global>
        <models>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Model</class>
                <resourceModel>voronoy_extrafee_resource</resourceModel>
            </voronoy_extrafee>
            <voronoy_extrafee_resource>
                <class>Voronoy_ExtraFee_Model_Resource</class>
            </voronoy_extrafee_resource>
        </models>
        <blocks>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Block</class>
            </voronoy_extrafee>
        </blocks>
        <helpers>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Helper</class>
            </voronoy_extrafee>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <extra_fee_payment>
                        <class>voronoy_extrafee/quote_address_total_fee_payment</class>
                        <after>subtotal</after>
                        <before>grand_total</before>
                    </extra_fee_payment>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_payment_extra_fee_amount>
                    <to_order>*</to_order>
                </base_payment_extra_fee_amount>
                <payment_extra_fee_amount>
                    <to_order>*</to_order>
                </payment_extra_fee_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <resources>
            <voronoy_extrafee_setup>
                <setup>
                    <module>Voronoy_ExtraFee</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </voronoy_extrafee_setup>
        </resources>
    </global>
</config>