<?xml version="1.0"?>
<!--
/**
 * Magento Extra Fee Extension
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @copyright Copyright (c) 2015 by Yaroslav Voronoy (y.voronoy@gmail.com)
 * @license   http://www.gnu.org/licenses/
 */
 -->
<config>
    <modules>
        <Voronoy_ExtraFee>
            <version>1.0.6</version>
        </Voronoy_ExtraFee>
    </modules>
    <global>
        <models>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Model</class>
                <resourceModel>voronoy_extrafee_resource</resourceModel>
            </voronoy_extrafee>
            <voronoy_extrafee_resource>
                <class>Voronoy_ExtraFee_Model_Resource</class>
            </voronoy_extrafee_resource>
            <salesrule>
                <rewrite>
                    <validator>Voronoy_ExtraFee_Model_SalesRule_Discount_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <blocks>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Block</class>
            </voronoy_extrafee>
        </blocks>
        <helpers>
            <voronoy_extrafee>
                <class>Voronoy_ExtraFee_Helper</class>
            </voronoy_extrafee>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <extra_fee_rule>
                        <class>voronoy_extrafee/quote_address_total_fee_rule</class>
                        <after>discount</after>
                        <before>grand_total</before>
                    </extra_fee_rule>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <extra_fee_rule>
                        <class>voronoy_extrafee/sales_order_invoice_total_fee_rule</class>
                        <after>discount</after>
                    </extra_fee_rule>
                </totals>
            </order_invoice>
        </sales>
        <pdf>
            <totals>
                <extra_fee_rule>
                    <title>Extra Rule Fee</title>
                    <source_field>extra_fee_rule_amount</source_field>
                    <title_source_field>extra_fee_rule_description</title_source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>300</sort_order>
                </extra_fee_rule>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <base_extra_fee_rule_amount>
                    <to_order>*</to_order>
                </base_extra_fee_rule_amount>
                <extra_fee_rule_amount>
                    <to_order>*</to_order>
                </extra_fee_rule_amount>
                <extra_fee_rule_description>
                    <to_order>*</to_order>
                </extra_fee_rule_description>
            </sales_convert_quote_address>
            <sales_convert_order>
                <extra_fee_rule_description>
                    <to_invoice>*</to_invoice>
                </extra_fee_rule_description>
            </sales_convert_order>
        </fieldsets>
        <resources>
            <voronoy_extrafee_setup>
                <setup>
                    <module>Voronoy_ExtraFee</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </voronoy_extrafee_setup>
        </resources>
        <events>
            <salesrule_rule_save_before>
                <observers>
                    <voronoy_extrafee>
                        <class>voronoy_extrafee/observer</class>
                        <method>beforeSaveSalesRuleModel</method>
                    </voronoy_extrafee>
                </observers>
            </salesrule_rule_save_before>
            <adminhtml_block_salesrule_actions_prepareform>
                <observers>
                    <voronoy_extrafee_prepare_form>
                        <class>voronoy_extrafee/observer</class>
                        <method>prepareFormSalesRuleEdit</method>
                    </voronoy_extrafee_prepare_form>
                </observers>
            </adminhtml_block_salesrule_actions_prepareform>
            <paypal_prepare_line_items>
                <observers>
                    <voronoy_extrafee_paypal_prepare>
                        <class>voronoy_extrafee/observer</class>
                        <method>paypalPrepareLineItems</method>
                    </voronoy_extrafee_paypal_prepare>
                </observers>
            </paypal_prepare_line_items>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <voronoy_extrafee>
                    <file>voronoy_extrafee.xml</file>
                </voronoy_extrafee>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <voronoy_extrafee>
                    <file>voronoy_extrafee.xml</file>
                </voronoy_extrafee>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <extra_fee_settings>
            <extra_fee_rule>
                <active>1</active>
                <label>Extra Fee</label>
            </extra_fee_rule>
        </extra_fee_settings>
    </default>
</config>